.goog-scroller {
  position: relative;
  outline: none;
}
.goog-scroller-container {
  height: 100%;
  overflow: hidden;
}
.goog-scroller-bar-vertical {
  width: 10px;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  background: rgba(0,0,0,.1);
  outline: none;
}
.goog-scroller-bar-thumb {
  position: relative;
  background: #000;
}

.goog-scroller-bar-horizontal {
  height: 10px;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  background: rgba(0,0,0,.1);
  outline: none;
}
.goog-scroller-bar-horizontal .goog-scroller-bar-thumb {
  height: 100%;
}

